<template>
  <q-page class="flex column gap-md q-pt-md">
    <!-- <img
      alt="Quasar logo"
      src="~assets/quasar-logo-vertical.svg"
      style="width: 200px; height: 200px"
    > -->
    <q-input dense debounce="300" v-model="searchData" class="btn-search" placeholder="Search">
      <template v-slot:append>
        <q-icon name="search" />
      </template>
    </q-input>
    <div class="q-pa-md row items-start q-gutter-md wrap-card">
      <q-card 
        class="box-card" 
        v-for="(movie, index) in searchedMovies" 
        :key="index"
        @click="selectData(movie)"
      >
        <q-card-section>
          <div class="text-h6">{{ movie.title }}</div>
          <div class="text-subtitle2">{{ movie.director }}</div>
        </q-card-section>
        <q-card-section class="q-pt-sm row justify-end">          
          <q-chip 
            class="glossy" 
            square
            v-for="(genre, index) in movie.genres" :key="index"
          >{{genre}}</q-chip>
        </q-card-section>
      </q-card>
      </div>
      <q-page-sticky position="bottom-right" :offset="[18, 18]">
        <q-btn 
          fab 
          icon="add" 
          color="green" 
          @click="newMovie()" />
      </q-page-sticky>
      <transition name="modal" mode="out-in">
      <movie-form 
        :number="moviesData.length+1"  
        :type="typeForm"
        :data="selectedMovie"
        v-if="onForm"
        @close="onForm = false"
        @update="saveMovie" 
        @remove="deleteMovie"
      />
    </transition>
  </q-page>
</template>

<script>
import MovieForm from 'components/MovieForm.vue'
export default {
  name: 'PageIndex',
  components:{
    MovieForm
  },
  data(){
    return{
      searchData: '',
      onForm: false,
      typeForm: 'create',
      selectedMovie: undefined,
      moviesData: [
        {
          id: 'ak675',
          title: 'Spiderman',
          director: 'peter parker',
          summary: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
          genres: ['Action', 'Sci-Fi']
        },
        {
          id: 'akn87',
          title: 'Spiderman 2',
          director: 'peter parker',
          summary: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
          genres: ['Action', 'Sci-Fi']
        },
        {
          id: 'b98ki',
          title: 'Spiderman 3',
          director: 'peter parker',
          summary: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
          genres: ['Action', 'Sci-Fi']
        },
        {
          id: 's89ku',
          title: 'Spiderman 4',
          director: 'peter parker',
          summary: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
          genres: ['Action', 'Sci-Fi']
        },
      ]
    }
  },
  computed: {
    searchedMovies() {
      if (this.searchData === ""){
        return this.moviesData
      } else{
        return this.moviesData.filter(item => {
                return item.title.toLowerCase().indexOf(this.searchData.toLowerCase()) != -1
            });
      }
    }
  },
  methods:{
    generateRandomString() {
        const characters = '23456789ABCDEFGHJKLMNPQRSTUVWXYZ';
        const length = 5;
        let result = '';
        const charactersLength = characters.length;

        for (let i = 0; i < length; i++) {
        const randomIndex = Math.floor(Math.random() * charactersLength);
        result += characters.charAt(randomIndex);
      }

      return result
    },
    selectData(data){
      this.selectedMovie = data;
      this.typeForm = 'update';
      this.onForm = true;
    },
    newMovie(){
      this.onForm = true; 
      this.typeForm = 'create';
      this.selectedMovie = {
          id: this.generateRandomString(),
          title: '',
          director: '',
          summary: '',
          genres: []
        }
    },
    saveMovie(movie){
      if (movie.type === 'update'){
        this.moviesData = this.moviesData.map(item =>
             item.id === movie.data.id ? movie.data : item
        );
      } else{
        this.moviesData.push(movie.data);
      }
      this.$q.notify({
        message: 'Movie has been saved',
        color: 'green',
        position: 'top'
      })
    },
    deleteMovie(id){
      this.moviesData = this.moviesData.filter( item => item.id !== id);
      this.$q.notify({
        message: 'Movie has been deleted',
        color: 'green',
        position: 'top'
      })
    }
  }
}
</script>

<style lang="scss">
.gap-md{
  gap: 20px
}
.btn-search{
  max-width: 350px;
  margin: 0 auto;
}
.wrap-card{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.box-card{
  width: 100%;
  max-width: 250px;
  cursor: pointer;
}

.modal-enter-active, .modal-leave-active {
    transition: opacity 0.5s ease;
}
.modal-enter, .modal-leave-to{
    opacity: 0;    
}

@media only screen and (max-width: $breakpoint-xs-max) {
  .modal-enter-active, .modal-leave-active {
    transition: transform 0.7s ease;
  }
  .modal-enter, .modal-leave-to{
    transform: translateY(100vh);    
    opacity: unset;
  } 
  .wrap-card{
    justify-content: center;
  }
}
</style>
