<template>
  <div class="container-form">
    <div class="overlay" @click="$emit('close')"></div>
    <q-card class="card-form">
      <q-card-section class="row justify-end">
        <q-icon name="close" style="font-size: 24px; cursor: pointer;" @click="$emit('close')" />
      </q-card-section>
      <q-card-section class="q-gutter-md column">
        <q-input outlined v-model="formData.title" label="Title" />
        <q-input outlined v-model="formData.director" label="Director" />
        <q-input
          v-model="formData.summary"
          outlined
          type="textarea"
          label="Summary"
          maxlength="100"
        />
        <div class="row q-gutter-sm">
          <input type="checkbox" value="Drama" id="drama" v-model="formData.genres"/>
          <label for="drama">Drama</label>
          <input type="checkbox" value="Action" id="action" v-model="formData.genres"/>
          <label for="action">Action</label>
          <input type="checkbox" value="Animation" id="animation" v-model="formData.genres"/>
          <label for="animation">Animation</label>
          <input type="checkbox" value="Sci-Fi" id="sci-Fi" v-model="formData.genres"/>
          <label for="sci-Fi">Sci-Fi</label>
          <input type="checkbox" value="Horror" id="horror" v-model="formData.genres"/>
          <label for="horror">Horror</label>
        </div>
      </q-card-section>

      <q-separator/>
      <q-card-actions class="justify-end q-pa-md" style="gap: 10px">
        <q-btn v-if="type !== 'create'" padding="xs lg" color="red" @click="removeMovie">Delete</q-btn>
        <q-btn padding="xs lg" color="green" @click="updateMovie">Save</q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'MovieForm',
  props: {
    type: {
      type: String,
      default: 'create'
    },
    data: {
      type: Object,
      default: function () {
        return {
          id: 1,
          title: '',
          director: '',
          summary: '',
          genres: []
        }
      }
    }
  },
  data(){
    return{
      formData: this.data
    }
  },
  methods:{
    updateMovie(){
      this.$emit('update', {data: this.formData, type: this.type});
      this.$emit('close');
    },
    removeMovie(){
      this.$emit('remove', this.formData.id);
      this.$emit('close');
    }
  }

}
</script>

<style lang="scss">
.container-form{
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  z-index: 2000;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0.7;
  width: 100vw;
  min-height: 100vh;
}
.card-form{
  width: 100%;
  max-width: 500px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: $breakpoint-xs-max) {
  .overlay{
    display: none;
  }
  .card-form{
    width: 100vw;
    max-width: unset;
    min-height: 100vh;
    top: 0;
    left: 0;
    transform: unset;
  }
}
</style>
