// app global css in SCSS form
input[type="checkbox"] {
    display: none;
}
  
input[type="checkbox"] + label {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    background-color: #ffffff;
    border:solid 1px #000000;
    padding: 0.2rem 0.5rem;
    display: inline-block;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  
input[type="checkbox"]:checked + label {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    background-color: #27aefc; color: white; border-color:#27aefc;
}